body{
display:flex;
font-family:Arial;
margin:0px;
}
.container{
width:300px;
height:100vh;
position:fixed;
color:white;
background-color:orange;
padding-top:15px;
}
.container a{
display:block;
text-decoration:none;
color:white;
padding:14px;
font-size:22px;
}
.container a:hover{
background:rgba(255, 220, 0, 0.9);;
}
.content{
margin-left:300px;
width:100%;
height:90vh;
padding:20px;
color:orange;
background-image: url("../images/std1.png");
background-size: cover;
background-repeat: no-repeat;
}
.content1{
display:flex;
flex-direction:column;
margin-left:300px;
width:100%;
align-items:center;
}
.content12{
display:flex;
flex-direction:column;
align-items:center;
width: 90%;
    background: rgba(255, 255, 255, 0.2);  /* transparent */
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.4);
}
.stud-table{
width: 90%;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}
.stud-table1 {
    padding: 12px;
    background: rgba(255,165,0);
    color: white;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.stud-table2 {
    padding: 10px;
    color: black;
    font-size: 16px;
    font-family:sans-serif;
    font-weight: 500;
     background: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* Hover effect */
.stud-table2:hover {
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.an{
display:flex;
column-gap:5px;
}
    .container1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:50%;
    background: rgba(255, 165, 0, 0.7);  /* transparent */
    backdrop-filter: blur(6px);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(255, 165, 0, 0.7);
}
 .form-group {
 display:flex;
    flex-direction:column;
    margin-bottom: 15px;
    color:white;
 }
.form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
.profile-box{
width: 55%;
    margin: 40px auto;
    padding: 25px 35px;
    border-radius: 20px;
    background: rgba(255, 200, 120, 0.25); /* transparent orange glass look */
    backdrop-filter: blur(6px);
    box-shadow: 0 0 18px rgba(255, 160, 60, 0.4);
    font-size: 22px;
    letter-spacing: 0.8px;
     font-weight: 900;
    color: #f57f17; /* deep orange text */
    animation: slide-in 0.5s ease;
}
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(18px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}