<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hostel</title>
     <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
<nav>
    <div class="container">
    <div class="child">
        <a href="/">Home</a>
        <a href="/add">Add</a>
        <a href="/view">View</a>
    </div>
        <div class="child">
        <a href="/accounts/login">Login</a>
        <a href="/accounts/logout">LogOut</a>
    </div>
    </div>
</nav>
<hr>
<div class="con">
    <h1 >Hostel Information Center</h1>
</div>
{% block body_block%}
{% endblock %}
</body>
</html>