<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
<div class="content1">
    <div class="content12">
        <div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-body text-info">
    <h5 class="card-title" style="color: orange;">Total First Year Students Who are having Attendance
    less than 75%</h5>
    <p class="card-text" style="color: orange; font-size: 50px; font-weight: bold;">{{ first_year}}</p>
      <h5 class="card-title" style="color: orange;">Condonation Fee:5000/-</h5>
</div>
    </div>
        </div>
      <div class="content12">
        <div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-body text-info">
    <h5 class="card-title" style="color: orange;">Total Second Year Students Who are having Attendance
    less than 75%</h5>
    <p class="card-text" style="color: orange; font-size: 50px; font-weight: bold;">{{ second_year}}</p>
      <h5 class="card-title" style="color: orange;">Condonation Fee:5000/-</h5>
</div>
    </div>
        </div>
      <div class="content12">
        <div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-body text-info">
    <h5 class="card-title" style="color: orange;">Total Third Year Students Who are having Attendance
    less than 75%</h5>
    <p class="card-text" style="color: orange; font-size: 50px; font-weight: bold;">{{ third_year}}</p>
      <h5 class="card-title" style="color: orange;">Condonation Fee:5000/-</h5>
</div>
    </div>
        </div>
      <div class="content12">
        <div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-body text-info">
    <h5 class="card-title" style="color: orange;">Total Fourth Year Students Who are having Attendance
    less than 75%</h5>
    <p class="card-text" style="color: orange; font-size: 50px; font-weight: bold;">{{ fourth_year}}</p>
      <h5 class="card-title" style="color: orange;">Condonation Fee:5000/-</h5>
</div>
    </div>
        </div>
</div>


{%endblock%}