<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
<div class="content1">
  <h2 style="color:orange">Second Year Fee Payment Details</h2>
  <br>
   <div class="content12">
<h2 style="color:orange">Total Number Of Students : {{counts}}</h2>
       <h2 style="color:orange"> Number Of Students  Paid Fee : {{paid}}</h2>
       <h2 style="color:orange"> Number Of Students  Fee Due : {{notpaid}}</h2>
        <h2 style="color:orange"> Total Fee Due : {{sum}}</h2>
       <form method="GET">
           {% csrf_token %}
           <input type="text" name="q" placeholder="search by name  or roll no.." style="padding:8px; width:300px;">
           <button type="submit" class="btn btn-success" >search</button>
       </form>
       <h2 style="color:orange">Second Year</h2>
<table border="1" class="stud-table" >
  <thead class="stud-table1">
  <tr>
    <th>Roll No</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Father Name</th>
    <th>Branch</th>
    <th>Year</th>
    <th>Attendance</th>
    <th>Fees</th>
    <th>Fee Payment</th>
    <th >Action</th>
  </tr>
  </thead>
  {% for stud in student%}
  <tr class="stud-table2">
    <td>{{stud.roll_number}}</td>
    <td>{{stud.name}}</td>
    <td>{{stud.gender}}</td>
    <td>{{stud.father_name}}</td>
    <td>{{stud.branch}}</td>
    <td>{{stud.year}}</td>
    <td>{{stud.attendance}}</td>
    <td>{{stud.fees}}</td>
    <td>{{stud.fee_payment}}</td>
    <td>
      <a href="/edit2/{{stud.id}}" class="btn btn-primary">Edit</a>
    </td>
  </tr>
  {% endfor %}
    </table>
   </div>
</div>
{% endblock %}