body {
display:flex;
flex-direction:column;
background-image: url("../images/hostelphoto.png");
background-size: cover;
background-repeat: no-repeat;
    }
    .con{
    color:purple;
    font-size:40px;
    font-weight:bold;
    text-align:center;
    }
.container{
display:flex;
flex-direction:row;
justify-content:space-between;
}
.child{
display:flex;
column-gap:60px;
}
 a{
   text-decoration: none;
   font-size: 25px;
   color: #f4f4f4;
   background-color: purple;
   border-radius: 15px;
  padding: 10px;
 }
 a:hover{
    text-decoration: underline;
   border-radius: 25px;
  }
